# OS files
Thumbs.db
desktop.ini
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.expo-shared/

# Metro
.metro-health-check*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Secrets
.env
.env.*

# OneDrive
~$*

# Logs
*.log
